<!-- About event -->
<section class="page-section light about-event" id="about-event">
    <div class="container">

        <h3 class="section-title text-center" data-animation="fadeInUp" data-animation-delay="100">
            What's this all about
            <small></small>
        </h3>

        <div class="row">

            <div class="col-lg-12">
                @*<p class="text-lg">
                        <font color="#000000" face="Times New Roman" size="3">
                        </font>
                    </p>*@
                <p class="text-lg">
                    The Microsoft Azure DevCamp is a great placed to get started with Microsoft Azure development and to learn what's new with the latest Microsoft Azure features.
                </p>
                <p class="text-lg">
                    Create scalable web applications using your language of choice
                    Build cloud applications that can connect with your existing applications or on-premises environments
                    Take advantage of the flexibility of Virtual Machines for both Windows and Linux operating systems
                </p>
                <br />
                <br />
                <h4>Attendee Prerequisites</h4>
                <p class="text-lg">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i>Please bring your laptop (running at the minimum Windows 7).</li>
                        <li><i class="fa-li fa fa-check-square"></i>Please activate your free 30-day trial <a href="http://azure.microsoft.com/en-us/">Microsoft Azure subscription.</a></li>
                        <li><i class="fa-li fa fa-check-square"></i>If you do not have Visual Studio 2012 (or greater) on your laptop, please install <a href="http://www.visualstudio.com/en-us/products/visual-studio-express-vs">Visual Studio Express 2013 for Web</a></li>
                        <li><i class="fa-li fa fa-check-square"></i>Make sure to download the Azure Readiness Content below to following with the presentations and labs.</li>
                    </ul>
                </p>
                <p class="caption-buttons">
                    <a href="http://www.microsoft.com/en-us/download/details.aspx?id=8396" class="btn caption-social"><font size="5"><i class="fa fa-cloud-download"></i>  Azure Readiness Content</font></a>
                </p>
                </br>
                </br>
                <div class="text-center
                    <p class="text-lg">What are you waiting for, register and join us!</p>
                    <br />
                    <p class="btn-theme-group">
                        <a class="btn btn-theme btn-theme-primary" href="https://msevents.microsoft.com/cui/EventDetail.aspx?culture=en-CA&EventID=1032598685&IO=E4NVJvsiwmRJtpODbj1ivw%3d%3d" target="_blank">Register Now</a>
                    </p>
                </div>
                <hr class="page-divider half hidden-md">
            </div>
        </div>
    </div>
</section>
<!-- /About event -->