 <!-- Directions -->
<section class="page-section parallax directions" id="location">
    <div class="container div-table">

        <div class="parallax-bg" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-150"></div>
        <div class="parallax-overlay"></div>
        <div class="parallax-inner text-center">

            <p class="directions-icon"><i class="fa fa-map-marker"></i></p>
            <p>Hacker Studios‎</p>
            <p>246 Dundas St</p>
            <p>London, ON, Canada</p>
            <p>1.519.871.7424</p>
            <p class="directions-mailto"><a href="mailto:coworking@hackerstudios.com">coworking@hackerstudios.com</a></p>
            <p></p>
            <p><a class="btn btn-theme btn-theme-white" target="_blank" href="http://binged.it/1vyjsTN">get directıons</a></p>

        </div>

    </div>
</section>
<!-- /Directions -->