<!-- Feature -->
<section class="page-section" id="about">
    <div class="container">
        <!-- <hr class="page-divider half"/> -->
        <div class="row">
            <div class="col-sm-6 col-md-6 feature">
                <div class="media" data-animation="fadeInUp" data-animation-delay="100">
                    <div class="media-object fa fa-calendar"></div>
                    <div class="media-body">
                        <h4 class="media-heading">8 hr Event</h4>
                        <p>Presentations and demos designed to help learn the latest Microsoft Azure features and services.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 feature">
                <div class="media" data-animation="fadeInUp" data-animation-delay="500">
                    <div class="media-object fa fa-glass"></div>
                    <div class="media-body">
                        <h4 class="media-heading">Free!</h4>
                        <p>Don't panic, there will be lots coffee, snacks, and lunch provided for the event.</p>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="text-center" data-animation="fadeInUp" data-animation-delay="200">
            <a class="btn btn-theme" href="#">See All Features</a>
        </div>*@
    </div>

</section>
<!-- /Feature -->