 <!-- Last tweet -->
<section class="page-section twitter" data-stellar-background-ratio="0.5">
    <div class="container" data-stellar-background-ratio="0.5">
        <div class="last-tweet">
            <div class="owl-controls">
                <a id="prev-tweet" class="prev" href="#"><i class="fa fa-angle-left"></i></a>
                <a id="next-tweet" class="next" href="#"><i class="fa fa-angle-right"></i></a>
            </div>
            <div class="twitter-icon" data-animation="bounceIn" data-animation-delay="100">
                <i class="fa fa-twitter"></i>
            </div>
            <div id="last-tweets" data-animation="fadeInUp" data-animation-delay="500">
                <div class="media">
                    <div class="media-body">
                        <p>Check out this great <a href="#">#themeforest</a> item 'Sarkkara Responsive Real Estate HTML5 Template' <a href="#">http://t.co/wLgkNgmBLJ</a></p>
                        <p>2 hours ago <a href="#">@@jjthemes</a></p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <p>Check out this great <a href="#">#themeforest</a> item 'Sarkkara Responsive Real Estate HTML5 Template' <a href="#">http://t.co/wLgkNgmBLJ</a></p>
                        <p>2 hours ago <a href="#">@@jjthemes</a></p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <p>Check out this great <a href="#">#themeforest</a> item 'Sarkkara Responsive Real Estate HTML5 Template' <a href="#">http://t.co/wLgkNgmBLJ</a></p>
                        <p>2 hours ago <a href="#">@@jjthemes</a></p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <p>Check out this great <a href="#">#themeforest</a> item 'Sarkkara Responsive Real Estate HTML5 Template' <a href="#">http://t.co/wLgkNgmBLJ</a></p>
                        <p>2 hours ago <a href="#">@@jjthemes</a></p>
                    </div>
                </div>
            </div>
        </div><!-- /last-tweet -->
        <div class="text-center">
            <a class="btn btn-theme" href="#">Follow</a>
        </div>
    </div><!-- /container  -->
</section>
<!-- /Last tweet -->