<!-- Partners -->
<section class="page-section" id="sponsors">
    <div class="container partners">
        <h3 class="section-title text-center half-bottom" data-animation="fadeInUp" data-animation-delay="100">
            Our Sponsors
            <small>Thanks for the support from our great sponsors!</small>
        </h3>
        <div class="partners-carousel" data-animation="fadeInUp" data-animation-delay="300">
            <div id="partners" class="owl-carousel">
                <div class=""><a target="_blank" href="http://www.microsoft.com/en-ca/default.aspx"><img src="/assets/img/partner/partner-1.png" alt="Microsoft" /></a><div><strong>Diamond sponsor</strong></div></div>
            </div>
            <hr class="page-divider half" />

        </div>

</section>
<!-- /Partners -->