<!-- Price Table -->
<section class="page-section light" id="price">
    <div class="container">
        <h3 class="section-title text-center">Register<small>Limited space available so don't wait and register!</small></h3>
        <div class="row text-center">
            <p class="btn-theme-group">
                <a class="btn btn-theme btn-theme-primary" href="https://msevents.microsoft.com/cui/EventDetail.aspx?culture=en-CA&EventID=1032598685&IO=E4NVJvsiwmRJtpODbj1ivw%3d%3d">Register Now</a>
            </p>
        </div>
        <hr class="page-divider half" />
        <h3 class="section-title text-center small-bottom">let's see the venue <small></small></h3>
        <p class="text-center">Our venue for the event is sponsored by <a href="https://www.facebook.com/HackerStudios/info?ref=page_internal" tabindex="_blank"> Hacker Studios</a> a support space for local entrepreneurs looking to get their small businesses off the ground.  Open concept coworking in a shared space in downtown London, Ontario, Canada.</p>
    </div>
</section>
<!-- Price Table -->