<!-- Recent Posts -->
<section class="page-section light">
    <div class="container">
        <h3 class="section-title text-center" data-animation="fadeInUp" data-animation-delay="100">Our Recent Posts <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper tellus sit amet nibh fringilla.</small></h3>
        <div class="row">
            <div class="col-sm-4">
                <article class="post-wrap thumbnail">
                    <div class="post-media">
                        <div class="thumbnail no-border do-hover">
                            <img class="img-responsive" src="/assets/img/preview/post1.jpg" alt="">
                            <div class="caption">
                                <div class="caption-wrapper div-table">
                                    <div class="caption-inner div-cell">
                                        <p class="caption-buttons">
                                            <a href="assets/img/preview/post1-big.jpg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a>
                                            <a href="#" class="btn caption-link"><i class="fa fa-link"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-meta clearfix">
                            <span class="pull-left"><span class="post-date"><i class="fa fa-calendar"></i>  20.02.2014</span></span>
                            <span class="pull-right"><a href="#"><i class="fa fa-comment"></i> 26</a></span>
                        </div>
                    </div>
                    <div class="post-header">
                        <h4 class="post-title"><a href="#">Standart Post Tıtle</a></h4>
                        <span class="post-author">by <a href="#">Author Name</a></span>
                    </div>
                    <div class="post-body">
                        <div class="post-excerpt">Lorem neque ipsum dolor sitamet, adipiscingelit. Maecenas consectetur  diam, luctus at laoreet in, auctor tellus. </div>
                    </div>
                    <div class="post-footer">
                        <span class="post-readmore"><a href="#" class="readmore-link btn btn-theme btn-theme-default btn-theme-sm">Read More</a></span>
                    </div>
                </article>
            </div>
            <div class="col-sm-4">
                <article class="post-wrap thumbnail">
                    <div class="post-media">
                        <div class="thumbnail no-border do-hover">
                            <img class="img-responsive" src="/assets/img/preview/post2.jpg" alt="">
                            <div class="caption">
                                <div class="caption-wrapper div-table">
                                    <div class="caption-inner div-cell">
                                        <p class="caption-buttons">
                                            <a href="assets/img/preview/post2-big.jpg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a>
                                            <a href="#" class="btn caption-link"><i class="fa fa-link"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-meta clearfix">
                            <span class="pull-left"><span class="post-date"><i class="fa fa-calendar"></i>  20.02.2014</span></span>
                            <span class="pull-right"><a href="#"><i class="fa fa-comment"></i> 26</a></span>
                        </div>
                    </div>
                    <div class="post-header">
                        <h4 class="post-title"><a href="#">Standart Post Tıtle</a></h4>
                        <span class="post-author">by <a href="#">Author Name</a></span>
                    </div>
                    <div class="post-body">
                        <div class="post-excerpt">Lorem neque ipsum dolor sitamet, adipiscingelit. Maecenas consectetur  diam, luctus at laoreet in, auctor tellus. </div>
                    </div>
                    <div class="post-footer">
                        <span class="post-readmore"><a href="#" class="readmore-link btn btn-theme btn-theme-default btn-theme-sm">Read More</a></span>
                    </div>
                </article>
            </div>
            <div class="col-sm-4">
                <article class="post-wrap thumbnail">
                    <div class="post-media">
                        <div class="thumbnail no-border do-hover">
                            <img class="img-responsive" src="/assets/img/preview/post3.jpg" alt="">
                            <div class="caption">
                                <div class="caption-wrapper div-table">
                                    <div class="caption-inner div-cell">
                                        <p class="caption-buttons">
                                            <a href="assets/img/preview/post3-big.jpg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a>
                                            <a href="#" class="btn caption-link"><i class="fa fa-link"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-meta clearfix">
                            <span class="pull-left"><span class="post-date"><i class="fa fa-calendar"></i>  20.02.2014</span></span>
                            <span class="pull-right"><a href="#"><i class="fa fa-comment"></i> 26</a></span>
                        </div>
                    </div>
                    <div class="post-header">
                        <h4 class="post-title"><a href="#">Standart Post Tıtle</a></h4>
                        <span class="post-author">by <a href="#">Author Name</a></span>
                    </div>
                    <div class="post-body">
                        <div class="post-excerpt">Lorem neque ipsum dolor sitamet, adipiscingelit. Maecenas consectetur  diam, luctus at laoreet in, auctor tellus. </div>
                    </div>
                    <div class="post-footer">
                        <span class="post-readmore"><a href="#" class="readmore-link btn btn-theme btn-theme-default btn-theme-sm">Read More</a></span>
                    </div>
                </article>
            </div>
        </div>
        <div class="text-center"><a class="btn btn-theme" href="#">Load More</a></div>
    </div>
</section>
<!-- /Recent Posts -->