
<!-- Main Slider -->
<section class="page-section slider">
    <div class="container">

        <div class="main-slider">

            <div id="event-slider" class="clearfix">
    
                <div class="item slide slide2 full-width-slide div-table">
                    <div class="slide-image parallax-bg"></div>
                    <div class="slide-caption div-cell">
                        <div class="slide-caption-inner">
                            <h1 class="slide-title">London Azure Camp</h1>
                            <h3 class="slide-subtitle">NOV 15, 2014</h3>
                            <div class="countdown-wrapper">
                                <div id="defaultCountdown" class="defaultCountdown clearfix"></div>
                            </div>
                            <a class="btn btn-theme btn-theme-primary slide-btn" target="_blank" href="https://msevents.microsoft.com/cui/EventDetail.aspx?culture=en-CA&EventID=1032598685&IO=E4NVJvsiwmRJtpODbj1ivw%3d%3d">regıster now!</a>
                        </div>
                    </div>
                </div>

                @*<div class="item slide slide2 alternate div-table">
                    <div class="slide-image"></div>
                    <div class="slide-caption div-cell">
                        <div class="container">
                            <div class="slide-caption-inner">
                                <h1 class="slide-title">London Humanitarian Toolbox Hack</h1>
                                <h3 class="slide-subtitle">Oct 18, 2014</h3>
                                <div class="countdown-wrapper">
                                    <div id="defaultCountdown2" class="defaultCountdown clearfix"></div>
                                </div>
                                <a class="btn btn-theme btn-theme-primary slide-btn" data-toggle="modal" data-target="#myModal" href="#">regıster now!</a>
                            </div>
                        </div>
                    </div>
                </div>*@

            </div>
        </div>

    </div>
</section>
<!-- /Main Slider -->