<!-- Our Team -->
<section class="page-section speackers" id="speackers">
    <div class="container">
        <h3 class="section-title text-center" data-animation="fadeInUp" data-animation-delay="0">meet the Experts<small>We'll have Azure experts on help to guide attendees through the labs and answer questions.</small></h3>
        <div class="row text-center">

            <div class="col-sm-4" data-animation="fadeInUp" data-animation-delay="700">
                <div class="thumbnail do-up no-border">
                    <img src="/assets/img/preview/team5.jpg" class="img-responsive" alt="">
                    <div class="caption">
                        <div class="caption-wrapper div-table">
                            <div class="caption-inner div-cell">
                                <h4 class="caption-title">Tom Walker</h4>
                                <p class="caption-category"><a href="http://www.tom-walker.ca/">Blog</a></p>
                                <p class="caption-text">Founder of London .NET Developers, Mentor, passionate about sharing the fun of coding.</p>
                                <p class="caption-buttons">
                                    <a href="http://twitter.com/Tinytoot" class="btn caption-social"><i class="fa fa-twitter"></i></a>
                                    <a href="http://www.linkedin.com/pub/tom-walker/6/371/266" class="btn caption-social"><i class="fa fa-linkedin"></i></a>
                                </p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col-sm-4" data-animation="fadeInUp" data-animation-delay="700">
                <div class="thumbnail do-up no-border">
                    <img src="/assets/img/preview/team7.jpg" class="img-responsive" alt="">
                    <div class="caption">
                        <div class="caption-wrapper div-table">
                            <div class="caption-inner div-cell">
                                <h4 class="caption-title">Lori Lalonde</h4>
                                <p class="caption-category"><a href="http://geekswithblogs.net/lorilalonde/Default.aspx">Blog</a></p>
                                <p class="caption-text">Lori Lalonde is an author, consultant, blogger, international conference speaker, and avid Windows Phone developer.</p>
                                <p class="caption-buttons">
                                    <a href="https://twitter.com/loriblalonde" class="btn caption-social"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/in/lorilalonde" class="btn caption-social"><i class="fa fa-linkedin"></i></a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" data-animation="fadeInUp" data-animation-delay="700">
                <div class="thumbnail do-up no-border">
                    <img src="/assets/img/preview/team8.jpg" class="img-responsive" alt="">
                    <div class="caption">
                        <div class="caption-wrapper div-table">
                            <div class="caption-inner div-cell">
                                <h4 class="caption-title">Ken Cenerelli</h4>
                                <p class="caption-category"><a href="http://kencenerelli.wordpress.com/">Blog</a></p>
                                <p class="caption-text">Ken Cenerelli is a .NET & Windows app developer + Windows Azure nerd.</p>
                                <p class="caption-buttons">
                                    <a href="https://twitter.com/KenCenerelli" class="btn caption-social"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/in/kencenerelli" class="btn caption-social"><i class="fa fa-linkedin"></i></a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" data-animation="fadeInUp" data-animation-delay="700">
                <div class="thumbnail do-up no-border">
                    <img src="/assets/img/preview/team9.jpg" class="img-responsive" alt="">
                    <div class="caption">
                        <div class="caption-wrapper div-table">
                            <div class="caption-inner div-cell">
                                <h4 class="caption-title">Andrei Marukovich </h4>
                                <p class="caption-category"><a href="http://lunarfrog.com/blog/">Blog</a></p>
                                <p class="caption-text">Andrei Marukovich is a Team Lead at AB SCIEX and Microsoft Windows Platform MVP.</p>
                                <p class="caption-buttons">
                                    <a href="https://twitter.com/AMarukovich" class="btn caption-social"><i class="fa fa-twitter"></i></a>
                               </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" data-animation="fadeInUp" data-animation-delay="700">
                <div class="thumbnail do-up no-border">
                    <img src="/assets/img/preview/team10.jpg" class="img-responsive" alt="">
                    <div class="caption">
                        <div class="caption-wrapper div-table">
                            <div class="caption-inner div-cell">
                                <h4 class="caption-title">Julien Stroheker</h4>
                                <p class="caption-category"><a href="http://pimpthecloud.com">Blog</a></p>
                                <p class="caption-text">Co-founder of the blog and webcasts pimpthecloud.com,Most Valuable Professional (MVP) in 2014 Azure, I try to share my passion about complex cloud architectures, more precisely on infrastructure issues.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-sm-6 col-md-6" data-animation="fadeInUp" data-animation-delay="700">
                    <div class="thumbnail do-up no-border">
                        <img src="/assets/img/preview/team6.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <div class="caption-wrapper div-table">
                                <div class="caption-inner div-cell">
                                    <h4 class="caption-title">Bill Wagner</h4>
                                    <p class="caption-category"><a href="http://www.htbox.org/">Htbox</a></p>
                                    <p class="caption-text">President of Humanitarian Toolbox, besides coding his other passion is to help organizations build effective, high-functioning developer teams</p>
                                    <p class="caption-buttons">
                                        <a href="https://twitter.com/billwagner" class="btn caption-social"><i class="fa fa-twitter"></i></a>
                                        <a href="www.linkedin.com/in/billwwagner" class="btn caption-social"><i class="fa fa-linkedin"></i></a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
</section>
<!-- /Our Team -->