<!-- Subscribe -->
<section class="page-section parallax subscribe">
    <div class="container div-table">

        <div class="parallax-bg" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-150"></div>
        <div class="parallax-overlay"></div>
        <div class="parallax-inner text-center">

            <h3 class="section-title" data-animation="fadeInUp" data-animation-delay="100">Dont Miss The Event <small></small></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper tellus sit amet nibh fringilla aliquet sit amet in leo. Integer neque urna, tristique eget enim interdum, aliquam tincidunt magna.</p>
            <form class="subscribe" id="subscribe" role="form">
                <div class="form-group">
                    <input type="email1" class="form-control" id="exampleInputEmail1" placeholder="Enter your mail here">
                    <label class="error" for="exampleInputEmail1" id="email1_error">Email is required.</label>
                </div>
                <button type="submit" class="btn btn-theme btn-theme-primary btn-subscribe">Subscribe</button>
            </form>

        </div>

    </div>
</section>
<!-- /Subscribe -->