<!-- Testimonials -->
<section class="page-section light">
    <div class="container">
        <h3 class="section-title text-center" data-animation="fadeInUp" data-animation-delay="100">What the Clients Say <small></small></h3>
        <div id="testimonials" class="owl-carousel" data-animation="fadeInUp" data-animation-delay="300">

            <div class="media testimonial">
                <div class="media-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra varius posuere. Sed consectetur rutrum egestas.</p>
                    <p class="media-heading"><strong>Yarina Crowley</strong></p>
                </div>
                <div class="media-object-wrapper text-center"><img class="media-object img-circle" src="/assets/img/preview/testimonial-1.jpg" alt="" /></div>
            </div>

            <div class="media testimonial">
                <div class="media-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra varius posuere. Sed consectetur rutrum egestas.</p>
                    <p class="media-heading"><strong>Yarina Crowley</strong></p>
                </div>
                <div class="media-object-wrapper text-center"><img class="media-object img-circle" src="/assets/img/preview/testimonial-2.jpg" alt="" /></div>
            </div>
            <div class="media testimonial">
                <div class="media-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra varius posuere. Sed consectetur rutrum egestas.</p>
                    <p class="media-heading"><strong>Yarina Crowley</strong></p>
                </div>
                <div class="media-object-wrapper text-center"><img class="media-object img-circle" src="/assets/img/preview/testimonial-3.jpg" alt="" /></div>
            </div>
            <div class="media testimonial">
                <div class="media-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra varius posuere. Sed consectetur rutrum egestas.</p>
                    <p class="media-heading"><strong>Yarina Crowley</strong></p>
                </div>
                <div class="media-object-wrapper text-center"><img class="media-object img-circle" src="/assets/img/preview/testimonial-4.jpg" alt="" /></div>
            </div>

        </div>
    </div>
</section>
<!-- /Testimonials -->