<!-- Timeline -->
<section class="page-section light" id="schedule">
    <div class="container">
        <h3 class="section-title text-center" data-animation="fadeInUp" data-animation-delay="0">
            The Schedule
            <small>It will be packed day of Azure knowledge for both IT and developer attendees.</small>
        </h3>

        <div class="row clearfix timeline-tabs" data-animation="fadeInUp" data-animation-delay="100">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <ul id="tabs" class="nav nav-pills nav-justified">
                    <li class="active"><a href="#tab-first" data-toggle="tab">Saturday 15th</a></li>
                    @*<li><a href="#tab-second" data-toggle="tab">Saturday 18th</a></li>*@
                    @*<li><a href="#tab-third" data-toggle="tab">wednesday 11 th</a></li>
                        <li><a href="#tab-last" data-toggle="tab">by speaker</a></li>*@
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-first">

                <div id="timeline" class="row timeline no-transition">

                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i> 08:30am</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title"><a href="#">Doors Open</a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">We'll open the doors at 8:30 am to start letting people in.</div>
                            </div>
                        </article>
                    </div>

                   <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i> 09:00am-10:00am</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title"><a href="#">Overview</a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Hello Azure! In this talk you'll learn about the broad service offerings of Microsoft Azure. All the pieces, Compute, Data, App and Network Services; combine to provide one powerful enterprise-grade cloud platform you can trust.</div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>10:00am-10:45am</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">Mobile<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Have an idea for a Mobile App but don't want to focus on building out your own back-end resources. You're in luck! Microsoft Azure Mobile Services abstracts away Storage, Security, Notifications, and Scalability to let you focus on implementing the features of your mobile app.</div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>10:45am-11:00am</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">Break<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Coffee break.</div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>11:00am-11:30am</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">PaaS/Networking<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Microsoft Azure Platform as a Service offerings include both Cloud Services and Websites. Learn how to harness the power of PaaS to build your next Website or Web Application.</div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>11:30am-12:00pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">IaaS<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Need some extra servers? We've got them. Microsoft Azure Virtual Machines provide both Windows and Linux guest operating systems. </div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>12:00pm-1:00pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">Lunch<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Time for a break and re-energize for the next round.</div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>1:00pm-2:00pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">Web<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Microsoft Azure Websites is the fastest way to build for the Cloud providing a highly scalable enterprise-ready environment. In this talk learn how Azure Websites enables you to build applications with your language/framework of choice and deploy with ease.</div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>2:00pm-2:30pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">Media<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Whether you're hosting a major televised event or hosting video for a plethora of devices, Microsoft Azure Media Services is for you. Built with Scale in mind enabling you to store, encode, protect and package audio or video content for on-demand and live streaming. Learn how to interact with the Player Framework and SDKs.</div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>2:30pm-3:00pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">Identity & Access Management<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">ADAL Library, O365 Library, Odata Services, .NET & Java </div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>3:00pm-3:15pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">Break<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Coffee break.</div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>3:15pm-3:45pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">Integration and Hybrid Workloads<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Building Applications that need connectivity into your on-premises data center? Not to worry, we've got you covered. Microsoft Azure has a number of different solutions for integrating with your existing applications or environments including VPN and Message Queuing technologies.</div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>3:45pm-4:30pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">Data<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">It is rare to see a modern application which doesn't require the storage of Data. Microsoft Azure has many ways to fulfill your storage needs be it Relational, Non-Relational or needed far and wide we've got you covered. Needed that data crunched yesterday? No time to set up an environment? Microsoft Azure HD Insight has you covered for all your Big Data needs. Spin up a cluster in a matter of minutes, pull it down just as fast.</div>
                            </div>
                        </article>
                    </div>
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i>4:30pm-5:00pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title">Big Data<a href="#"></a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Needed that data crunched yesterday? No time to set up an environment? Microsoft Azure HD Insight has you covered for all your Big Data needs. Spin up a cluster in a matter of minutes, pull it down just as fast.</div>
                            </div>
                        </article>
                    </div>
                </div>

            </div>

            <!---->
            <div class="tab-pane fade" id="tab-second">
                <div id="timeline2" class="row timeline no-transition">

                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i> 08:00am</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title"><a href="#">Doors Open (Again)</a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">If you couldn't make it Friday, you are still welcome to join us Saturday!! We will be streaming sessions live from Microsoft official events where they will be discussing some of the new features available in Windows &amp; Windows Phone.</div>
                            </div>
                        </article>
                    </div>

                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">

                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i> 08:30am</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title"><a href="#">Breakfast</a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">We'll be providing some breakfast around this time.</div>
                            </div>
                        </article>
                    </div>

                    
                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">
                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i> 08:30am-4:00pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title"><a href="#">Coding</a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Coding and polishing existing apps for both Windows &amp; Windows Phone. We'll have coffee throughout the day and also have food brought in.</div>
                            </div>
                        </article>
                    </div>

                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">
                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i> 1:00pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title"><a href="#">Lunch</a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">Again providing more food and drinks around this time!</div>
                            </div>
                        </article>
                    </div>

                    <div class="item col-sm-6">
                        <span class="dot"></span>
                        <article class="post-wrap thumbnail">
                            <div class="post-media">
                                <div class="post-meta clearfix">
                                    <span class="pull-left"><span class="post-date"><i class="fa fa-clock-o"></i> 4:00pm</span></span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="post-title"><a href="#">Wrap Up</a></h4>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">At this time we'll be doing an app showcase, judging the apps and providing awards for the winners!</div>
                            </div>
                        </article>
                    </div>
                </div>


            </div>

        </div>
</section>
<!-- /Timeline -->